
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* color: #5a5a5a; */
  }  
  
header { 
    background-color: rgb(129, 196, 252); 
    /* text-align: center; */
    /* font-family: 'Qwitcher Grypen'; */
    /* font-family: 'Caveat', cursive; */    
    margin-top: -48px;
    font-size: 45px;     
}

#box-header {    
    padding: 0%;
    background-color: rgb(129, 196, 252); 
}

#box-menu {
    padding-top: 17vh;
    font-size: 2rem;
}

#img-logo {
    height: 15vh;
    
}

#box-livro {
    margin-bottom: 50px;
}
p{
    text-align: justify;
}

a {
    margin: 10px;
}

#box-menu a:hover {
    color: whitesmoke;
}

#btn-comprar {
    margin-bottom: 40px;
}

.subtitle {
    /* color: rgb(250, 116, 98); */
    color: rgb(32, 30, 30);
    text-align: center;
    padding-bottom: 20px;
}

#caixa-livro-destaque{
    padding: 10px;
    
}

#img-livro{
    border-radius: 10px;
    margin-bottom: 20px;

    margin-left: 1rem;
}



/* para centralizar as duas fotos */
#caixa-foto-autor{
    display: flex;
    justify-content: center;

}

#img-autor {
    align-items: center;
}

#texto-secundario{
    font-size: 1.2rem;
    text-align: center;
    
}

#frase-da-semana {
     /* font-family: 'Qwitcher Grypen'; */
    /* font-family: 'Caveat', cursive; */
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 50px;
    
}

#footer-cnpj{     
}

#whriting{
    color: rgb(32, 30, 30);
    text-align: center;
    padding-bottom: 20px;
    /* font-family: 'Qwitcher Grypen'; */
    /* font-family: 'Caveat', cursive; */
    font-family: 'Dancing Script', cursive;
}

.marginx {
    margin: 100px;
}

#margin-top {
    margin-top: 10vh;
}

#contato {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.center{
    text-align: center;
    
}




/* .container {
    max-width: 1128px; 
    margin: 0 auto;   
    
}  */


/* #logo {
    color: black;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 6vh;
    padding-bottom: 2vh;
    padding-top: 8vh;
    

    /* text-align: center; */
    /* margin-top: 100px; */
    /* flex-grow: 1; */
    /* max-width: 1300px; 
    margin-left: 200px; 
} */

/* 
#menu-1 {
    margin-top: 100px;
    margin-left: 300px;
    text-decoration: none;
    color: black;

}
#menu-2 {
    margin-top: 100px;
    text-decoration: none;
    color: black;
}
#menu-3 {
    margin-top: 100px;
    text-decoration: none;
    color: black;
    
}
#menu-4 {
    margin-top: 100px;
    text-decoration: none;
    color: black;
}
#menu-5 {
    margin-top: 100px;
    text-decoration: none;
    color: black;
    padding-right: 200px;
} */
